{% extends 'base.html' %}

{% block content %}
<div class="header">
    <div class="header-title">BluePanda Mirror</div>
    <div class="header-subtitle">Disfruta de nuestro espejo inteligente hecho a la medida para CIME Spa.</div>
</div>
<div id="content">
  <div class="container">
    {% for product in products %}
    <div class="row">
        <div class="col-md-12">
            {% if product.is_displayed %}
            <div class="card dashboard-card">
            {% else %}
            <div class="card dashboard-card not-displayed">
            {% endif %}
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">
                            <h2 class="product-name">{{product.name}}</h2>
                        </div>
                        <div class="col-md-3">
                            <a href="/api/display/{{product.product_id}}/" class="btn btn-edit" style="width: 30%; margin: 0;">Mostrar Info</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <video autoplay width="100%" preload="metadata" poster="{{ url_for('static', filename='media/'+product.thumbnail) }}" muted>
                        <source src="{{ url_for('static', filename='media/'+product.thumbnail) }}" type="video/mp4">
                    </video>
                    <hr>
                    <h5>Descripción</h5>
                    {% if product.description is not none %}
                    <p>{{product.description}}</p>
                    {% else %}
                    <p>No hay descripción</p>
                    {% endif %}
                    <hr>
                    <h5>Imagenes/Videos a Desplegar</h5>
                    {% if product.mediafiles|length > 0 %}
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            {% if product.mediafiles|length > 1 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            {% endif %}
                            {% if product.mediafiles|length > 2 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            {% endif %}
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{ url_for('static', filename='media/'+product.mediafiles[0].filename) }}">
                            </div>
                            {% if product.mediafiles|length > 1 %}
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ url_for('static', filename='media/'+product.mediafiles[1].filename) }}">
                            </div>
                            {% endif %}
                            {% if product.mediafiles|length > 2 %}
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ url_for('static', filename='media/'+product.mediafiles[2].filename) }}">
                            </div>
                            {% endif %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {% else %}
                    <p>No hay imagenes/videos para desplegar</p>
                    {% endif %}
                    <a href="/dashboard/product/{{product.product_id}}/" class="btn btn-edit">Editar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}